body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $bg-color;
  &.overlay {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  background-color: #fff;
  .brand {
    font-size: 18px;
    padding: 14px 10px;
  }
}

.news-item {
  margin: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(#000, 0.7);
  -webkit-overflow-scrolling: touch;
  .times {
    position: relative;
    float: right;
    z-index: 100;
    cursor: pointer;
  }
  .modal-dialog {
    position: relative;
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 5px 15px rgba(#000, 0.5);
  }
}

// Helper Classes
.hide {
  display: none !important;
}

.show {
  display: block !important;
}
