/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
